.how-it-work-step {
    display: flex;
    justify-content: space-between;
    
}
.how-it-work-step *+* {
    /* padding-right: 100px; */
}
.step-1  {
    max-width: 390px;
}
.imgsvg {
    z-index: -1;
    position: absolute;
    padding-top: 170px;
    
}

.step-heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    padding-top: 187px;
    text-align: center;
}

.step-text {
    font-style: 500;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #424242;
    padding-bottom: 60px;
}

.step-2 {
    padding-top: 339px;
    max-width: 390px;

}

.step-3 {
    padding-top: 106px;
    max-width: 390px;
}
.how-it-work-step {
   
}

@media (max-width: 1800px) {
    .img {
        max-width: 360px;
    }
}
@media (max-width: 1700px) {
    .img {
        max-width: 300px;
    }
    /* .how-it-work-step *+*{
        padding-right: 50px;
    } */
    .step-heading{
        padding-right: 0;
    }
    .step-2 {
        padding-right: 50px;
    }
    .step-1 {
        padding-right: 50px;
    }
}

@media (max-width: 1200px) {
    .img {
        max-width: 250px;
    }
    /* .how-it-work-step *+*{
        padding-right: 50px;
    } */
    .step-heading{
        font-size: 25px;

    }
    .step-text {
        font-size: 17px;
        max-width: 270px;
    }
    .step-2 {
        padding-right: 50px;
    }
    .step-1 {
        padding-right: 50px;
    }
    .imgsvg {
        max-width: 115px;
        padding-top: 175px;
        
    }
}

@media (max-width: 1200px) {
    .img {
        max-width: 200px;
    }
    /* .how-it-work-step *+*{
        padding-right: 50px;
    } */
    .step-heading{
        font-size: 22px;

    }
    .step-text {
        font-size: 14px;
        max-width: 220px;
    }
    .step-2 {
        padding-right: 30px;
    }
    .step-1 {
        padding-right: 30px;
    }
    .imgsvg {
        max-width: 100px;
        padding-top: 175px;
        
    }
/*  */
}

@media (max-width: 739px) {

    .how-it-work-step {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        column-gap: 20px;
        text-align: center;
    }
    .step-3 {
        padding-top: 0px;
        text-align: center;
    }
    .step-2 {
        padding-top: 0px;
    }
    .step-1 {
        padding-top: 0px;
    }
    .step-1>h3 {
        padding-top: 0px;
    }
    .step-2>h3 {
        padding-top: 0px;
    }
    .step-3>h3 {
        padding-top: 0px;
    }
    .imgsvg {
        max-width: 70px;
        padding-top: 10px;
        
    }

/*     .step-heading{
        font-size: 22px;

    }
    .step-text {
        font-size: 14px;
        max-width: 220px;
    }
    .step-2 {
        padding-right: 30px;
    }
    .step-1 {
        padding-right: 30px;
    }
    .imgsvg {
        max-width: 100px;
        padding-top: 175px;
         */
}