.header {
    padding-top: 17px;
    padding-bottom: 17px;


}
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-nav {
    color: #292929;

    padding-top: 0;

}

.header-nav ul {
    display: flex;
    list-style: none;
    color: #292929;

}

.header-nav li {
    color: #292929;
    font-size: 20px;
}

.header-nav li+li {
    margin-left: 70px;
}

.header-nav a:hover {
    color: #01996D;
}

.header-nav a {
    color: #292929;
    text-decoration: none
  }
.header-login {
    display: inline-flex;
    align-items: center;

}


.btn {
    
    background-color: #01996D;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: #ffffff;
    display: flex;
    align-items: center;
}



.sign {
    color: #000;
    padding-right: 15px;
}

.sign a:hover {
    color: #01996D;

}

@media (max-width: 1520px) {
    .header-login {
        margin-left: 20px;
    
    }
}

@media (max-width: 1478px) {
    .header-nav li+li {
        margin-left: 40px;
    }
    .header-login {
        margin-left: 20px;
    
    }
}
@media (max-width: 1403px) {
    .header-nav li+li {
        margin-left: 20px;
    }
    .btn {
        height: 45px;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 100px;

    }
}

@media (max-width: 1200px) {
    .header-nav li+li {
        margin-left: 15px;
    }
    .header-nav ul {
        padding-left: 15px;
    
    }
}

@media (max-width: 1150px) {
    .header-nav li+li {
        margin-left: 10px;

    }
    .header-nav ul {
        padding-left: 10px;
    }
    .btn {
        height: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

@media (max-width: 800px) {
    .header-nav li+li {
        margin-left: 10px;
        
    }
    .header-nav ul {
        padding-left: 10px;
        
    }
    .header-nav {
        font-size: 16px; 
    }
    .btn {
        font-size: 16px;
    }
}
@media (max-width: 750px) {
    .header-nav  {
        display: none;
    }
}
@media (max-width: 300px) {
    .header-login {
        font-size: 14px;
    
    }
}





